* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(https://phantom-marca.unidadeditorial.es/a4b9f5dcd9b18088b05ca070324426d1/assets/multimedia/imagenes/2021/07/11/16260326762823.jpg);
  background-size: cover;
  /* background-color: rgb(255, 255, 255); */
  margin: auto;
  text-align: center;
}
h1 {
  color: greenyellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 60px;
  text-align: center;
}
.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.marcador {
  margin-left: 400px;
  display: flex;
  justify-content: space-around;
  width: 90%;
}
/* .contenedorj1,
.contenedorj2 {
  margin: auto;
} */

#canvas {
  background-color: green;
}

.JUGADOR1,
.JUGADOR2 {
  font-size: 30px;
  color: rgb(255, 187, 0);
}

.puntos {
  color: chocolate;
}
